
footer {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    background: #f5f5f500;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    left: 0;
    bottom: 0;
    user-select: none;
    font-family: 'Gowun Batang', 'Malgun Gothic', serif;
}
